@font-face {
    font-family: rubikBold;
    src: url(./fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: rubikReg;
    src: url(./fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: rubikLight;
    src: url(./fonts/Rubik-Light.ttf);
}

:root {
    /* paint */
    --Blue: hsl(246, 80%, 60%);
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Dark-blue-trans: hsl(236, 42%, 30%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    /* typography */

    /* padding */
    --pad: 20px;
}

/* FONT FAMILY UNIVERSAL CLASS */
.bold {
    font-family: rubikBold;
}

.reg {
    font-family: rubikReg;
}

.light {
    font-family: rubikLight;
}

/* FONT COLOR */
.pale {
    color: var(--Pale-Blue)
}

.bright {
    color: white;
}

/* FONT SIZES */
.big {
    font-size: 25px;
}

.medium {
    font-size: 16px;
}

.small {
    font-size: 18px;
}



/**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UNIVERSAL CLASSES */
.round {
    border-radius: 15px;
}

body {
    background-color: var(--Very-dark-blue);
    padding: 40px 20px;
}

.display-board {
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
}

.left {
    /* border: 2px solid white; */
    background-color: var(--Dark-blue);
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--Blue);
    column-gap: 15px;
    padding: var(--pad);
}

.image {
    width: 25%;
    aspect-ratio: 1/1;
    border: solid 2px white;
    border-radius: 50%;
}

.details {

}

.name {
    letter-spacing: 2px;
    font-weight: 200;
}

.period {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.time {
    color: var(--Desaturated-blue);
    cursor: pointer;
    transition: 2s;
}

.time:hover {
    color: white;
    transition: .5s;
}

.time.active {
    color: white;
}

.right {
    /* border: solid 2px white; */
    /* margin-top: 20px; */
}

.activity {
    position: relative;
    isolation: isolate;
    min-height: 125px;
    overflow: hidden;
    margin-top: 20px;
}

.activity:first-of-type {
    background-color: var(--Light-red-work);
}

.activity:nth-of-type(2) {
    background-color: var(--Soft-blue-play);
}

.activity:nth-of-type(3) {
    background-color: var(--Light-red-study);
}

.activity:nth-of-type(4) {
    background-color: var(--Lime-green-exercise);
}

.activity:nth-of-type(5) {
    background-color: var(--Violet-social);
}

.activity:last-of-type {
    background-color: var(--Soft-orange-self-care);
}

.activity-icon {
    position: absolute;
    z-index: -1;
    right: 10px;
    top: -10px;
}

.info {
    height: 100px;
    background-color: var(--Dark-blue);
    margin-top: 25px;
    padding: var(--pad);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.info:hover {
    background-color: var(--Dark-blue-trans);
}

.info.activeInfo {
    background-color: var(--Dark-blue);
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ellipsis {
    cursor: pointer;
}

.info-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.hours {
    color: white;
}

.previous {
    color: var(--Desaturated-blue)
}

.linkage {
    text-align: center;
    margin-top: 20px;
    color: var(--Soft-blue-play)
}

.linkage a {
    color: var(--Pale-Blue);
    text-decoration: none;
}

.linkage a:hover {
    color: var(--Soft-blue-play)
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    body {
        /* background-color: red; */
        max-height: 100vh;
    }
    
    .display-board {
        display: flex;
        align-items: center;
        gap: 10px;
        min-height: 500px;
        width: 90%;
        margin: auto;
        /* border: solid 2px white; */
    }

    .left, .right {
        min-height: 500px;
    }

    .left {
        width: 30%;
    }

    .profile {
        height: 350px;
        align-items: start;
        flex-direction: column;
        gap: 40px;
    }

    .name {
        font-size: 40px;
    }

    .period {
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
        align-items: start;
    }

    .right {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 5px;
        /* justify-items: start; */
        align-items: stretch;
    }

    .activity {
        margin-top: unset;
        /* height: 250px; */
        display: flex;
        align-items: end;
    }

    .activity-icon {
        top: -5px
    }

    .info {
        height: 80%;
        width: 100%;
        justify-content: space-between;
        margin-top: unset;
    }

    .info-detail {
        flex-direction: column;
        align-items: start;
    }

    /* .big {
        font-size: 24px;
    } */

    .medium {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .display-board {
        width: 80%;
        gap: 20px;
    }

    .name {
        font-size: 50px;
    }

    .right {
        gap: 10px;
    }

    .big {
        font-size: 40px;
    }

    .medium {
        font-size: 15px;
    }
}